aside,
header,
footer,
article,
span {
  padding: 10px;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: san-serif;
  font-size: 1.2em;
}

.grid-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: min-content auto min-content;
}

aside {
  grid-column: 1/2;
  grid-row: 2/3;
}

header {
  grid-column: 1/3;
  grid-row: 1/2;
}

footer {
  grid-column: 1/3;
  grid-row: 3/4;
}

.flex-wrapper {
  display: flex;
}

h1,
p {
  padding: 5px;
}

@media only screen and (max-width: 850px) {
  .grid-wrapper {
    display: block;
  }

  .flex-wrapper {
    flex-direction: column;
  }

  .image {
    margin-bottom: 20px;
  }
}

/*additional styles*/

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

header {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  z-index: 1;
}

.logo {
  font-size: 1.3rem;
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: #5d6bc0;
  width: 30px;
  height: 30px;
  text-align: center;
  color: white;
  border-radius: 50%;
  margin: 10px;
}

li {
  list-style-type: none;
  display: inline;
  padding: 0 10px;
}

#navigation {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
}

aside {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
}

h1 {
  font-size: 6.5rem;
  margin: 0;
  color: #074fe2;
  line-height: 5rem;
  margin: 15px 0;
}

h3 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: #03b19f;
}

.button {
  width: 30%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 20px;
  text-align: center;
  font-weight: 700;
  background-color: #074fe2;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  color: white;
}

.get-started {
  padding: 2px 10px;
  background-color: #074fe2;
  color: white;
  text-transform: uppercase;
  border-radius: 20px;
}

.background {
  grid-column: 2/3;
  grid-row: 1/4;
  background-image: url("/background2.png");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
}

.fab {
  font-size: 1.4rem;
  margin: 10px;
}

@media only screen and (max-width: 850px) {
  .grid-wrapper {
    background-image: url("/background.jpg");
    background-size: cover;
    background-position: center;
    background-color: lightgray;
    background-blend-mode: screen;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 5.5rem;
    margin-top: 0;
    padding-top: 10px;
  }

  h3 {
    letter-spacing: 0.8rem;
  }

  ul {
    flex-direction: column;
    text-align: right;
    width: 150px;
    justify-self: end;
    margin: 0;
  }

  li {
    padding: 1px 5px 1px 0;
  }

  li:last-child {
    margin: 5px 0;
    display: block;
  }

  aside {
    flex-grow: 1;
  }
}

.sign-off {
  font-weight: 700;
}
